@model T3_Rosas_Piero.Models.Libro
@{
    ViewData["Title"] = "Eliminar Libro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card border-danger shadow">
        <div class="card-header bg-danger text-white">
            <h3>¿Está seguro de eliminar este Libro?</h3>
        </div>

        <div class="card-body">
            <form method="post" asp-action="Eliminar">
                <input asp-for="Id" hidden />

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Título</label>
                        <input asp-for="Titulo" disabled class="form-control" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Autor</label>
                        <input asp-for="Autor" disabled class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Editorial</label>
                        <input asp-for="Editorial" disabled class="form-control" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Categoría</label>
                        <input asp-for="Categoria" disabled class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Año de Publicación</label>
                        <input asp-for="AnioPublicacion" disabled class="form-control" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Tema / Género</label>
                        <input asp-for="Tema" disabled class="form-control" />
                    </div>
                </div>

                <div class="d-flex gap-2 mt-3">
                    <button type="submit" class="btn btn-danger">
                        Confirmar Eliminar
                    </button>
                    <a asp-controller="Libro" asp-action="Index" class="btn btn-secondary">
                        Regresar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>